{% if ports.interface1 is defined%}
interface GigabitEthernet0/0
 ip address {{ports.interface1.ip_address}}
{% if ports.interface1.acl_in  is defined %}
 ip access_group in {{ports.interface1.acl_in}}
{%endif%}
{% if ports.interface1.acl_out  is defined %}
 ip access_group out {{ports.interface1.acl_out}}
{%endif%}
 duplex auto
 speed auto
 media-type rj45
!{%endif%}

{% if ports.interface2 is defined%}
interface GigabitEthernet0/1
 ip address {{ports.interface2.ip_address}}
 {% if ports.interface2.acl_in  is defined %}
 ip access_group in {{ports.interface2.acl_in}}
{%endif%}
{% if ports.interface2.acl_out  is defined %}
 ip access_group  out {{ports.interface2.acl_out}}
{%endif%}
 duplex auto
 speed auto
 media-type rj45
!{%endif%}

{% if ports.interface3 is defined%}
interface GigabitEthernet0/2
 ip address {{ports.interface3.ip_address}}
 {% if ports.interface3.acl_in  is defined %}
 ip access_group in  {{ports.interface3.acl_in}}
  {%endif%}
  {% if ports.interface3.acl_out  is defined %}
 ip access_group out  {{ports.interface3.acl_out}}
 {%endif%}
 duplex auto
 speed auto
 media-type rj45
!{%endif%}

{% if ports.interface4 is defined%}
interface GigabitEthernet0/3
 ip address {{ports.interface4.ip_address}}
 {% if ports.interface4.acl_in  is defined %}
 ip access_group in  {{ports.interface4.acl_in}}
  {%endif%}
  {% if ports.interface4.acl_out  is defined %}
 ip access_group out {{ports.interface4.acl_out}}
 {%endif%}
 duplex auto
 speed auto
 media-type rj45
!{%endif%}

interface loopback 0
ip address {{ansible_host}} {{managment_snm}}

